{#{ kint() }#}
{% block rasboot_branding %}
    <div class="col-sm-12 site-branding" role="branding">
        {% set servizio = site_name | split(' ') %}
        <div class="site-name col-sm-8">Sardegna <strong>{{ servizio[1] }}</strong></div>
        <div class="site-logo col-sm-4">
                <div class="col-sm-10 pull-right">
                    <img src="{{ site_logo }}" width="100%" />
                </div>
                <span>{{ site_slogan }}</span>
            </div>        
        </div>
    {% endblock %}