.navbar{
    border:0px;
    .site-branding{
        margin-top:@plv;
        position:relative;

        .site-name{font-family: @logo-font-family; font-size:1.6em; margin-left:-15px;padding:0!important;
                   color:@gray-dark;
                   text-transform: uppercase;
                   @media(min-width: @screen-desktop){
                       padding:0 15px 0 15px;
                       font-size:3.0em;
                   }
                   @media(max-width: @screen-sm-max){
                       font-size:2.5em;
                   }

                   @media(max-width: @screen-xs-max){
                       font-size:1.6em;
                   }


                   &:hover{text-decoration:none;color:@text-color;background-color:transparent;opacity:1;}
        }

        .site-logo{
            text-align:right;
            margin-top:-15px;
            padding-bottom:15px;
            img{width:70%;}
            span{text-transform: uppercase;position: absolute;bottom:0;right:0px;width:100%;}
        }
    }

    .navbar-collapse{
        &.collapse{background-color:@brand-primary;}
        .navbar-nav{
            overflow:hidden;

            li{
                padding:7px 0px 5px 0px;
                a{padding-bottom:0;}
                &.last{border:0;}
                &.active{padding-bottom:5px;}
            }

            .leaf{
                &:hover{background-color:#FFF;
                        a{color:@brand-primary;
                          font-weight:bold;
                          background-color:#FFF;
                        }
                        margin-left:-1px;
                        border-left: 1px solid #FFF;

                }
            }
            li.active a{font-weight:bold;}
            border:0;

            margin:0;

            @media(min-width: @screen-tablet){                 
                background-color:@brand-primary;
                width:100%;
                padding-left:10px;
                padding-right:10px;
                li.active a{background-color:transparent;color:#FFF;}
                li {
                    &:last-child{a{border:0;}}
                    a{border-right:1px solid #FFF;border-bottom:0!important;color:#FFF;text-transform:uppercase;padding-top:2px;
                    
                    }
                    
                }
            }
            li a{border-bottom: 1px solid @navbar-default-link-color; 

            }
        }
    }








}

.graphic-header{max-height:320px;}