/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

// Grays
// -------------------------

@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

// Brand colors
// -------------------------

@brand-primary:         #BF3218;
@brand-success:         #5cb85c;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;
// RasBoot variables
// -------------------------------------------------------
@logo-font-family:              'Open Sans', Arial, Helvetica, Sans;
@base-font-family:              Arial, Helvetica, Sans;

@header-gray:#EDEDED;
@inner-links: #bf3218;
@footer-blu:#22497C;
@footer-green:#73B64A;
@footer-celeste:#5AB6DD;
@footer-gray:#4b4d50;
@border-gray:#C6C6C5;


/* ABBREVIAZIONI PADDING */

@psh: @padding-small-horizontal;
@pbh: @padding-base-horizontal;
@plh: @padding-large-horizontal;
@psv: @padding-small-vertical;
@pbv: @padding-base-vertical;
@plv: @padding-large-vertical;

@ps: @padding-small-vertical @padding-small-horizontal;
@pb: @padding-base-vertical @padding-base-horizontal;
@pl: @padding-large-vertical @padding-large-horizontal;
